h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

#expenses {
    width: 50%;
    padding-left: 1rem;
}

.expense {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
}

input {
    width: 100%;
}

h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.expense-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expense-title h4 {
    margin-right: 1rem;
}

.expense-flow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.expense-arrow {
    font-size: 3rem;
}

.expense-paid-by, .expense-receiver {
    margin: 1rem;
}

.expense-paid-by p,
.expense-receiver p{
    font-size: 0.8rem;
}

.expense-amount-container h4 {
    margin-right: 1rem;
}

.expense-amount-container button {
    margin-left: 1rem;
}

.expense-amount-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#balances {
    width: 40%;
    padding-right: 2rem;
    border-right: 1px solid black;
}

#balances-container {
    display: flex;
    flex-direction: column;
}

.balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
